@import url("https://fonts.googleapis.com/css2?family=Noto Sans SC");
@import url("https://fonts.googleapis.com/css2?family=Noto Serif");
@import url("https://fonts.googleapis.com/css2?family=Noto Serif SC");
@import url("https://fonts.googleapis.com/css2?family=Raleway");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata");
@font-face {
  font-family: 'icon';
  src: url("/fonts/icons.eot?9xf5m2");
  src: url("/fonts/icons.eot?9xf5m2#iefix") format('embedded-opentype'), url("/fonts/icons.ttf?9xf5m2") format('truetype'), url("/fonts/icons.woff?9xf5m2") format('woff'), url("/fonts/icons.svg?9xf5m2#icons") format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon {
  font-family: 'icon';
  font-style: normal;
}
@media (prefers-color-scheme: light) {
  .icon {
    color: #aaa;
  }
}
@media (prefers-color-scheme: dark) {
  .icon {
    color: #7d7d7d;
  }
}
.icon-chevron-bar-up:before {
  content: '\e900';
}
.icon-chevron-right:before {
  content: '\e901';
}
.icon-chevron-left:before {
  content: '\e902';
}
.icon-clipboard-check:before {
  content: '\e903';
}
.icon-clipboard:before {
  content: '\e904';
}
.pagination {
  padding-bottom: 36px;
}
.pagination .nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pagination .nav-link i {
  margin-bottom: -2px;
}
.pagination .nav-link.prev {
  float: left;
}
.pagination .nav-link.next {
  float: right;
}
.archive-title {
  max-width: 850px;
  margin: 0.5em auto 1em auto;
}
.archives-wrap {
  max-width: 850px;
  margin: 0 auto;
}
.archives-wrap .archive-year {
  font-size: 24px;
  font-weight: 400;
}
@media (prefers-color-scheme: light) {
  .archives-wrap .archive-year {
    color: #333;
  }
}
@media (prefers-color-scheme: dark) {
  .archives-wrap .archive-year {
    color: #cdcdcd;
  }
}
.archives-wrap .archives-year-cont {
  padding-top: 5px;
}
.archives-wrap .archives-year-cont .archive-item {
  margin: 15px 0px;
  padding-left: 0px;
  transition: all linear 0.2s;
}
.archives-wrap .archives-year-cont .archive-item .archive-artDate {
  font-size: 14px;
  display: block;
  float: left;
  line-height: 25px;
}
@media (prefers-color-scheme: light) {
  .archives-wrap .archives-year-cont .archive-item .archive-artDate {
    color: #aaa;
  }
}
@media (prefers-color-scheme: dark) {
  .archives-wrap .archives-year-cont .archive-item .archive-artDate {
    color: #565656;
  }
}
.archives-wrap .archives-year-cont .archive-item .archive-arttitle {
  display: block;
  margin-left: 85px;
}
@media (prefers-color-scheme: light) {
  .archives-wrap .archives-year-cont .archive-item .archive-arttitle a {
    color: #333;
  }
}
@media (prefers-color-scheme: dark) {
  .archives-wrap .archives-year-cont .archive-item .archive-arttitle a {
    color: #cdcdcd;
  }
}
.archives-wrap .archives-year-cont .archive-item:hover {
  padding-left: 5px;
}
@media (prefers-color-scheme: light) {
  .archives-wrap .archives-year-cont .archive-item:hover .archive-arttitle a:hover {
    color: #838383;
  }
}
@media (prefers-color-scheme: dark) {
  .archives-wrap .archives-year-cont .archive-item:hover .archive-arttitle a:hover {
    color: #7d7d7d;
  }
}
.archive-pagination {
  max-width: 850px;
  margin: 0 auto;
  padding: 20px 0px 36px 0px;
}
.article-entry .article-more-link {
  font-family: 'Noto Sans', 'Noto Sans SC';
  text-indent: 0;
  font-size: 16px;
}
.article-entry h1,
.article-entry h2,
.article-entry h3 {
  padding: 0.5rem 0 1rem 0;
  font-size: 24px;
  font-weight: 400;
}
.article-entry h3 {
  font-weight: 600;
}
.article-entry h4 {
  padding: 0.5rem 0 1rem 0;
  font-size: 20px;
  font-weight: 600;
}
.article-entry h5 {
  padding: 0.5rem 0 1rem 0;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}
.article-entry .table-container {
  width: 100%;
  overflow-x: auto;
}
.article-entry .table-container p {
  text-indent: 0;
}
.article-entry .table-container table,
.article-entry >table,
.article-entry div>table {
  line-height: 2em;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-collapse: collapse;
  margin-bottom: 1em;
}
@media (prefers-color-scheme: light) {
  .article-entry .table-container table,
  .article-entry >table,
  .article-entry div>table {
    border-color: #000;
  }
}
@media (prefers-color-scheme: dark) {
  .article-entry .table-container table,
  .article-entry >table,
  .article-entry div>table {
    border-color: #fff;
  }
}
.article-entry .table-container table thead,
.article-entry >table thead,
.article-entry div>table thead {
  line-height: 3em;
  border-bottom: 1px solid;
}
@media (prefers-color-scheme: light) {
  .article-entry .table-container table thead,
  .article-entry >table thead,
  .article-entry div>table thead {
    border-color: #000;
  }
}
@media (prefers-color-scheme: dark) {
  .article-entry .table-container table thead,
  .article-entry >table thead,
  .article-entry div>table thead {
    border-color: #fff;
  }
}
.article-entry .table-container table td,
.article-entry >table td,
.article-entry div>table td {
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  white-space: nowrap;
}
.article-entry .table-container table td:first-child,
.article-entry >table td:first-child,
.article-entry div>table td:first-child,
.article-entry .table-container table th:first-child,
.article-entry >table th:first-child,
.article-entry div>table th:first-child {
  padding-left: 1em;
}
.article-entry .table-container table td:last-child,
.article-entry >table td:last-child,
.article-entry div>table td:last-child {
  padding-right: 1em;
}
.article-entry .figure-container {
  margin-top: 1em;
}
.article-entry .figure-container p {
  text-indent: 0;
}
.article-entry .figure-container p img {
  width: 80%;
  margin-left: 10%;
  text-align: center;
}
.article-entry figure {
  margin-top: 1em;
}
.article-entry figure figcaption {
  display: none;
}
.article-entry figure img {
  width: 80%;
  margin-left: 10%;
  text-align: center;
}
.article-entry.condense .article-more-link {
  font-size: 14px;
}
.article-entry.condense h1,
.article-entry.condense h2,
.article-entry.condense h3 {
  font-size: 20px;
}
.article-entry.condense ul,
.article-entry.condense li {
  font-size: 16px;
}
.post-item {
  padding: 40px 0;
  margin: auto;
  font-family: 'Noto Serif', 'Noto Serif SC', serif;
}
.post-item .post-item-head .post-item-title {
  margin: 0px 0px 10px;
  font-size: 30px;
  font-family: 'Noto Sans', 'Noto Sans SC';
}
.post-item .post-item-head .post-item-title a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  font-weight: 200;
}
@media (prefers-color-scheme: light) {
  .post-item .post-item-head .post-item-title a {
    color: #333;
  }
}
@media (prefers-color-scheme: dark) {
  .post-item .post-item-head .post-item-title a {
    color: #cdcdcd;
  }
}
.post-item .post-item-datetag {
  margin-bottom: 10px;
  font-size: 16px;
}
@media (prefers-color-scheme: light) {
  .post-item .post-item-datetag {
    color: #aaa;
  }
}
@media (prefers-color-scheme: dark) {
  .post-item .post-item-datetag {
    color: #565656;
  }
}
.post-item .post-item-datetag .post-item-date {
  display: inline-block;
}
.post-item .post-item-datetag .post-item-date .post-time {
  font-family: 'Raleway', Georgia, 'Times New Roman', Times, serif;
}
.post-item .post-item-datetag .post-item-tag {
  display: inline-block;
  margin-left: 20px;
  font-family: 'Noto Sans', 'Noto Sans SC';
}
.post-item p {
  line-height: 1.5em;
  text-indent: 2em;
  text-align: justify;
  font-size: 20px;
  font-family: 'Noto Serif', 'Noto Serif SC', sans-serif;
  font-weight: 400;
  word-break: break-word;
  padding-top: 0.25em;
  padding-bottom: 0.5em;
}
.post-item blockquote {
  padding-bottom: 0.5em;
}
.post-item blockquote p {
  text-indent: 0;
}
@media (prefers-color-scheme: light) {
  .post-item blockquote p {
    color: #838383;
  }
}
@media (prefers-color-scheme: dark) {
  .post-item blockquote p {
    color: #7d7d7d;
  }
}
.post-item blockquote p:before {
  content: '“';
  padding-right: 0.25em;
  font-family: fantasy;
  font-size: 30px;
}
.post-item blockquote p:after {
  content: '”';
  padding-left: 0.25em;
  font-family: fantasy;
  font-size: 30px;
}
.post-item.condense {
  padding: 10px 0;
}
.post-item.condense .post-item-head .post-item-title {
  font-size: 24px;
}
.post-item.condense .post-item-datetag {
  font-size: 14px;
}
.post-item.condense p {
  font-size: 16px;
  padding-top: 2px;
  padding-bottom: 5px;
}
.post {
  padding: 40px 0;
  margin: auto;
  font-family: 'Noto Serif', 'Noto Serif SC', sans-serif;
  counter-reset: table-num;
  counter-reset: figure-num;
}
.post .post-head .post-title {
  margin: 0px 0px 1em;
  font-size: 30px;
}
.post .post-head .post-title a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  font-weight: 400;
}
@media (prefers-color-scheme: light) {
  .post .post-head .post-title a {
    color: #333;
  }
}
@media (prefers-color-scheme: dark) {
  .post .post-head .post-title a {
    color: #cdcdcd;
  }
}
.post .post-datetag {
  font-size: 14px;
  margin-bottom: 10px;
}
@media (prefers-color-scheme: light) {
  .post .post-datetag {
    color: #aaa;
  }
}
@media (prefers-color-scheme: dark) {
  .post .post-datetag {
    color: #565656;
  }
}
.post .post-datetag .post-date {
  display: inline-block;
}
.post .post-datetag .post-date .post-time {
  font-family: 'Raleway', Georgia, 'Times New Roman', Times, serif;
}
.post .post-datetag .post-tag {
  display: inline-block;
  margin-left: 20px;
}
.post .post-datetag .post-tag a {
  text-decoration: none;
}
@media (prefers-color-scheme: light) {
  .post .post-datetag .post-tag a {
    color: #aaa;
  }
}
@media (prefers-color-scheme: dark) {
  .post .post-datetag .post-tag a {
    color: #565656;
  }
}
.post .post-cc {
  font-size: 16px;
  margin-bottom: 20px;
}
@media (prefers-color-scheme: light) {
  .post .post-cc {
    color: #333;
  }
}
@media (prefers-color-scheme: dark) {
  .post .post-cc {
    color: #cdcdcd;
  }
}
.post p {
  line-height: 1.5em;
  text-indent: 2em;
  text-align: justify;
  font-size: 20px;
  font-family: 'Noto Serif', 'Noto Serif SC', sans-serif;
  font-weight: 400;
  word-break: break-word;
  padding-top: 0.25em;
  padding-bottom: 0.5em;
}
.post p code {
  vertical-align: middle;
  padding: 3px 0.4em;
  border-radius: 5px;
}
@media (prefers-color-scheme: light) {
  .post p code {
    color: $code-color-light;
  }
}
@media (prefers-color-scheme: dark) {
  .post p code {
    color: $code-color-dark;
  }
}
.post blockquote {
  padding-bottom: 0.5em;
}
.post blockquote p {
  text-indent: 0;
}
@media (prefers-color-scheme: light) {
  .post blockquote p {
    color: #838383;
  }
}
@media (prefers-color-scheme: dark) {
  .post blockquote p {
    color: #7d7d7d;
  }
}
.post blockquote p:before {
  content: '“';
  padding-right: 0.25em;
  font-family: fantasy;
  font-size: 30px;
}
.post blockquote p:after {
  content: '”';
  padding-left: 0.25em;
  font-family: fantasy;
  font-size: 30px;
}
.post .table-container {
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.post .table-container table {
  margin-left: auto;
  margin-right: auto;
}
.post .table-container .table-title {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  counter-increment: table-num;
}
.post .table-container .table-title:before {
  content: '表' counter(table-num) '. ';
}
.post >table,
.post div>table {
  min-width: 60%;
  margin-top: 1.5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}
.post caption {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.post .figure-container {
  margin-bottom: 1.5em;
}
.post .figure-container .figure-title {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  counter-increment: figure-num;
}
.post .figure-container .figure-title:before {
  content: '图' counter(figure-num) '. ';
}
.post figure figcaption {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}
.footer-msg a {
  text-decoration: none;
}
@media (prefers-color-scheme: light) {
  .footer-msg a {
    color: #aaa;
  }
}
@media (prefers-color-scheme: dark) {
  .footer-msg a {
    color: #565656;
  }
}
.barShow-head {
  display: none;
}
.barShow {
  animation: showBlock 0.4s forwards;
  display: block !important;
  z-index: 10;
}
.barShow-ul {
  padding-left: 20px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.barShow-ul .barShow-item a {
  font-size: 16px;
  display: inline-block;
  margin: 8px auto;
  padding-left: 0px;
}
@media (prefers-color-scheme: light) {
  .barShow-ul .barShow-item a {
    color: #333;
  }
}
@media (prefers-color-scheme: dark) {
  .barShow-ul .barShow-item a {
    color: #cdcdcd;
  }
}
.barShow-hide {
  animation: hideBlock 0.4s forwards;
  z-index: 10;
  display: block !important;
  opacity: 1;
  height: 150px;
}
@-moz-keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes hideBlock {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes hideBlock {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes hideBlock {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hideBlock {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.head-header {
  height: 65px;
  line-height: 65px;
  max-width: 1000px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head-authorH {
  display: inline-block;
}
.head-authorH .head-authorLink {
  font-size: 24px;
  font-weight: 200;
  text-decoration: none;
}
@media (prefers-color-scheme: light) {
  .head-authorH .head-authorLink {
    color: #333;
  }
}
@media (prefers-color-scheme: dark) {
  .head-authorH .head-authorLink {
    color: #cdcdcd;
  }
}
.head-right {
  float: right;
}
.head-right .head-search {
  display: inline-block;
}
.head-right .head-search .head-searchK {
  border: none;
  width: 0px;
  width: 166px;
  height: 38px;
  border-bottom: 1px solid;
}
@media (prefers-color-scheme: light) {
  .head-right .head-search .head-searchK {
    border-color: #eee;
  }
}
@media (prefers-color-scheme: dark) {
  .head-right .head-search .head-searchK {
    border-color: #333;
  }
}
.head-right .head-search .head-searchK:focus {
  outline: none;
}
.head-right .head-search .head-searchT {
  margin-left: 20px;
}
@media (prefers-color-scheme: light) {
  .head-right .head-search .head-searchT {
    color: #666;
  }
}
@media (prefers-color-scheme: dark) {
  .head-right .head-search .head-searchT {
    color: #9a9a9a;
  }
}
.head-right .head-about {
  display: inline-block;
  margin-left: 30px;
}
.head-right .head-about .head-aboutLink {
  text-decoration: none;
}
@media (prefers-color-scheme: light) {
  .head-right .head-about .head-aboutLink {
    color: #666;
  }
}
@media (prefers-color-scheme: dark) {
  .head-right .head-about .head-aboutLink {
    color: #9a9a9a;
  }
}
.head-right .barWrap {
  display: none;
  outline: none;
  padding: 9px 10px;
  background: transparent;
  border: none;
  user-select: none;
  cursor: pointer;
}
.head-right .barWrap .bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
@media (prefers-color-scheme: light) {
  .head-right .barWrap .bar {
    background-color: #666;
  }
}
@media (prefers-color-scheme: dark) {
  .head-right .barWrap .bar {
    background-color: #9a9a9a;
  }
}
.head-right .barWrap .bar + .bar {
  margin-top: 4px;
}
code,
.code,
.gutter,
pre {
  padding: 7px;
  font-size: 16px;
  font-family: 'Inconsolata', 'monospace', 'Open Sans', 'Microsoft Yahei', sans-serif;
}
@media (prefers-color-scheme: light) {
  code,
  .code,
  .gutter,
  pre {
    background-color: #f5f5f5;
  }
}
@media (prefers-color-scheme: dark) {
  code,
  .code,
  .gutter,
  pre {
    background-color: #333;
  }
}
.highlight {
  margin: 1em 0;
  overflow-x: auto;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  border-radius: 5px;
}
.highlight table {
  position: relative;
  margin: 0 !important;
}
.highlight table .clipboard-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0.25em;
  margin: 10px 1em;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 750px) {
  .highlight table .clipboard-btn {
    display: none;
  }
}
@media (prefers-color-scheme: light) {
  .highlight table .clipboard-btn {
    border-color: #aaa;
  }
}
@media (prefers-color-scheme: dark) {
  .highlight table .clipboard-btn {
    border-color: #565656;
  }
}
@media (prefers-color-scheme: light) {
  .highlight table .clipboard-btn {
    background-color: #fff;
  }
}
@media (prefers-color-scheme: dark) {
  .highlight table .clipboard-btn {
    background-color: #101010;
  }
}
.highlight table .clipboard-btn i {
  font-size: 20px;
}
@media (prefers-color-scheme: light) {
  .highlight table .clipboard-btn:hover {
    background-color: #aaa;
  }
}
@media (prefers-color-scheme: dark) {
  .highlight table .clipboard-btn:hover {
    background-color: #565656;
  }
}
@media (prefers-color-scheme: light) {
  .highlight table .clipboard-btn:hover i {
    color: #333;
  }
}
@media (prefers-color-scheme: dark) {
  .highlight table .clipboard-btn:hover i {
    color: #cdcdcd;
  }
}
.highlight table .code pre {
  margin: 0;
}
.highlight .gutter {
  width: 10px;
  color: #cacaca;
  text-align: right;
  display: none;
}
.highlight .gutter pre {
  margin: 0;
}
.highlight .line {
  line-height: 1.45em;
}
.highlight table,
.highlight tr {
  margin: 0;
  padding: 0;
  width: 100%;
  border-collapse: collapse;
}
.highlight .code .comment,
.highlight .code .quote {
  color: #93a1a1;
}
.highlight .code .keyword,
.highlight .code .selector-tag,
.highlight .code .addition {
  color: #859900;
}
.highlight .code .number,
.highlight .code .string,
.highlight .code .meta .meta-string,
.highlight .code .literal,
.highlight .code .doctag,
.highlight .code .regexp {
  color: #2aa198;
}
.highlight .code .title,
.highlight .code .section,
.highlight .code .name,
.highlight .code .selector-id,
.highlight .code .selector-class {
  color: title;
}
.highlight .code .attribute,
.highlight .code .attr,
.highlight .code .variable,
.highlight .code .template-variable,
.highlight .code .class .title,
.highlight .code .type {
  color: #b58900;
}
.highlight .code .symbol,
.highlight .code .bullet,
.highlight .code .subst,
.highlight .code .meta,
.highlight .code .meta .keyword,
.highlight .code .selector-attr,
.highlight .code .selector-pseudo,
.highlight .code .link {
  color: #cb4b16;
}
.highlight .code .built_in,
.highlight .code .deletion {
  color: rgba(221,204,51,0.133) 2;
}
.menu-nav {
  float: left;
  width: 19%;
  padding-top: 40px;
}
@media (prefers-color-scheme: light) {
  .menu-nav {
    color: #666;
  }
}
@media (prefers-color-scheme: dark) {
  .menu-nav {
    color: #9a9a9a;
  }
}
.menu-nav .menu-nav-item {
  font-size: 14px;
}
@media (prefers-color-scheme: light) {
  .menu-nav .menu-nav-item {
    color: #aaa;
  }
}
@media (prefers-color-scheme: dark) {
  .menu-nav .menu-nav-item {
    color: #565656;
  }
}
.menu-nav .menu-nav-item .menu-nav-item-tit {
  padding-bottom: 5px;
  border-bottom: 1px solid;
}
@media (prefers-color-scheme: light) {
  .menu-nav .menu-nav-item .menu-nav-item-tit {
    border-color: #aaa;
  }
}
@media (prefers-color-scheme: dark) {
  .menu-nav .menu-nav-item .menu-nav-item-tit {
    border-color: #565656;
  }
}
.menu-nav .menu-nav-item .menu-nav-item-tit a {
  font-size: 16px;
}
@media (prefers-color-scheme: light) {
  .menu-nav .menu-nav-item .menu-nav-item-tit a {
    color: #333;
  }
}
@media (prefers-color-scheme: dark) {
  .menu-nav .menu-nav-item .menu-nav-item-tit a {
    color: #cdcdcd;
  }
}
.menu-nav div.menu-nav-item:not(:first-of-type) {
  margin-top: 2.5em;
}
.menu-nav-item-cont {
  margin-top: 1.5em;
}
.menu-nav-item-cont .menu-nav-item {
  line-height: 1.25em;
  white-space: normal;
  padding-bottom: 1em;
  word-wrap: break-word;
}
@media (prefers-color-scheme: light) {
  .menu-nav-item-cont .menu-nav-item a {
    color: #333;
  }
}
@media (prefers-color-scheme: dark) {
  .menu-nav-item-cont .menu-nav-item a {
    color: #cdcdcd;
  }
}
@media (prefers-color-scheme: light) {
  .menu-nav-item-cont .menu-nav-item.empty {
    color: #666;
  }
}
@media (prefers-color-scheme: dark) {
  .menu-nav-item-cont .menu-nav-item.empty {
    color: #9a9a9a;
  }
}
.menu-nav-item-cont.archives .archive-list-item {
  height: 2em;
  line-height: 2em;
}
@media (prefers-color-scheme: light) {
  .menu-nav-item-cont.archives .archive-list-item a {
    color: #333;
  }
}
@media (prefers-color-scheme: dark) {
  .menu-nav-item-cont.archives .archive-list-item a {
    color: #cdcdcd;
  }
}
.menu-nav-item-cont.tags .tag-list-item {
  display: inline-block;
  padding: 0px 10px 7px 0px;
}
@media (prefers-color-scheme: light) {
  .menu-nav-item-cont.tags .tag-list-item a {
    color: #333;
  }
}
@media (prefers-color-scheme: dark) {
  .menu-nav-item-cont.tags .tag-list-item a {
    color: #cdcdcd;
  }
}
.menu-nav-item-cont.tags .tag-list-item .tag-list-count {
  vertical-align: super;
  font-size: 0.6em;
  margin-top: -0.5em;
}
@media (prefers-color-scheme: light) {
  .menu-nav-item-cont.tags .tag-list-item .tag-list-count {
    color: #666;
  }
}
@media (prefers-color-scheme: dark) {
  .menu-nav-item-cont.tags .tag-list-item .tag-list-count {
    color: #9a9a9a;
  }
}
.post-widget {
  font-size: 14px;
  padding-top: 1em;
  width: 20%;
  float: right;
}
@media (prefers-color-scheme: light) {
  .post-widget {
    color: #aaa;
  }
}
@media (prefers-color-scheme: dark) {
  .post-widget {
    color: #565656;
  }
}
.post-widget .post-toc-wrap h4 {
  padding-bottom: 0.25em;
  margin-bottom: 0.75em;
  border-bottom: 1px solid;
}
@media (prefers-color-scheme: light) {
  .post-widget .post-toc-wrap h4 {
    border-color: #eee;
  }
}
@media (prefers-color-scheme: dark) {
  .post-widget .post-toc-wrap h4 {
    border-color: #333;
  }
}
@media (prefers-color-scheme: light) {
  .post-widget .post-toc-wrap h4 {
    color: #666;
  }
}
@media (prefers-color-scheme: dark) {
  .post-widget .post-toc-wrap h4 {
    color: #9a9a9a;
  }
}
.post-widget .post-toc-wrap .post-toc .post-toc-item {
  line-height: 1.75em;
  margin-left: 1em;
  text-indent: -1em;
  width: 100%;
  white-space: normal;
}
.loading-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  align-items: center;
}
.page {
  filter: blur(2px);
}
.loading {
  height: 20px;
  margin: 0 auto;
}
.loading span {
  display: inline-block;
  width: 20px;
  height: 100%;
  margin-right: 6.666666666666667px;
  border-radius: 50%;
  animation: load 1.04s ease infinite;
}
@media (prefers-color-scheme: light) {
  .loading span {
    background-color: #aaa;
  }
}
@media (prefers-color-scheme: dark) {
  .loading span {
    background-color: #565656;
  }
}
.loading span:last-child {
  margin-right: 0px;
}
.loading span:nth-child(1) {
  animation-delay: 0.13s;
}
.loading span:nth-child(2) {
  animation-delay: 0.26s;
}
.loading span:nth-child(3) {
  animation-delay: 0.39s;
}
.loading span:nth-child(4) {
  animation-delay: 0.52s;
}
.loading span:nth-child(5) {
  animation-delay: 0.65s;
}
@-moz-keyframes load {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes load {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes load {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes load {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
html {
  font-size: 16px;
  font-family: 'Noto Sans', 'Noto Sans SC';
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@media (prefers-color-scheme: light) {
  html {
    background-color: #fff;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    background-color: #101010;
  }
}
body {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
}
@media (prefers-color-scheme: light) {
  body {
    color: #333;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    color: #cdcdcd;
  }
}
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}
@media (prefers-color-scheme: light) {
  a,
  a:visited {
    color: #aaa;
  }
}
@media (prefers-color-scheme: dark) {
  a,
  a:visited {
    color: #7d7d7d;
  }
}
@media (prefers-color-scheme: light) {
  a:hover {
    color: #666;
  }
}
@media (prefers-color-scheme: dark) {
  a:hover {
    color: #9a9a9a;
  }
}
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}
del {
  text-decoration: line-through;
}
.page {
  margin-top: 0px;
}
.page .head {
  z-index: 9;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid;
}
@media (prefers-color-scheme: light) {
  .page .head {
    border-color: #ccc;
  }
}
@media (prefers-color-scheme: dark) {
  .page .head {
    border-color: #343434;
  }
}
@media (prefers-color-scheme: light) {
  .page .head {
    background-color: #fff;
  }
}
@media (prefers-color-scheme: dark) {
  .page .head {
    background-color: #101010;
  }
}
@media screen and (max-width: 750px) {
  .head {
    position: fixed;
  }
  .about,
  .post-item .post-item-head .post-item-title a,
  .head-authorLink {
    font-weight: 400 !important;
  }
  .menu-nav,
  #head-about,
  .post-widget {
    display: none;
  }
  #barWrap-toggle {
    display: inline-block;
  }
  #index-content {
    width: 100%;
  }
  .main {
    margin-top: 65px !important;
  }
  .barShow-head {
    display: none;
    position: fixed;
    left: 0px;
    top: 65px;
    width: 100%;
    border-top: 1px solid;
    border-bottom: 2px solid;
  }
  #post {
    width: 100%;
  }
}
.page .main {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
}
.main > .post {
  width: 85%;
  float: left;
}
.main > .post .article-entry p {
  line-height: 1.5em;
}
.article-tag-list-item {
  display: inline;
  margin-right: 0.5rem;
}
.article-tag-list-item:last-of-type {
  margin-right: auto;
}
.article-entry li {
  font-size: 20px;
  line-height: 2rem;
}
.article-entry ul {
  padding-bottom: 0.75em;
}
.article-entry ul li {
  list-style: disc inside;
}
.article-entry ol {
  padding-bottom: 0.75em;
}
.article-entry ol li {
  list-style: decimal inside;
}
.page .footer-nav {
  display: block;
  margin: 30px auto 0px;
  width: 100%;
  float: left;
}
.page .footer-nav .footer {
  font-size: 14px;
  margin: 0 auto;
  padding: 20px 0;
  border-top: 1px solid;
  max-width: 1000px;
  width: 90%;
  overflow: hidden;
}
@media (prefers-color-scheme: light) {
  .page .footer-nav .footer {
    color: #aaa;
  }
}
@media (prefers-color-scheme: dark) {
  .page .footer-nav .footer {
    color: #565656;
  }
}
@media (prefers-color-scheme: light) {
  .page .footer-nav .footer {
    border-color: #ccc;
  }
}
@media (prefers-color-scheme: dark) {
  .page .footer-nav .footer {
    border-color: #343434;
  }
}
.page .footer-nav .footer .icp {
  margin-bottom: 10px;
}
.page .footer-nav .footer .icp .icp-text {
  vertical-align: middle;
}
.page .back-top {
  margin-right: 40px;
  cursor: pointer;
}
.page .back-top .icon {
  float: right;
  font-size: 20px;
  font-weight: 600;
}
@media (prefers-color-scheme: light) {
  .page .back-top .icon:hover {
    color: #666;
  }
}
@media (prefers-color-scheme: dark) {
  .page .back-top .icon:hover {
    color: #9a9a9a;
  }
}
.nav-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
}
@media screen and (max-width: 750px) and (prefers-color-scheme: light) {
  .barShow-head {
    background-color: #fff;
  }
}
@media screen and (max-width: 750px) and (prefers-color-scheme: dark) {
  .barShow-head {
    background-color: #101010;
  }
}
@media screen and (max-width: 750px) and (prefers-color-scheme: light) {
  .barShow-head {
    border-color: #eee;
  }
}
@media screen and (max-width: 750px) and (prefers-color-scheme: dark) {
  .barShow-head {
    border-color: #333;
  }
}
.content {
  width: 73%;
  float: right;
}
.content img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}
#index-content {
  max-width: 850px;
  margin: 0 auto;
}
#index-content .post-item + .post-item {
  border-top: 1px solid;
}
@media (prefers-color-scheme: light) {
  #index-content .post-item + .post-item {
    border-color: #eee;
  }
}
@media (prefers-color-scheme: dark) {
  #index-content .post-item + .post-item {
    border-color: #333;
  }
}
.tag-title {
  max-width: 850px;
  margin: 0.5em auto 1em auto;
}
.tags-wrap {
  max-width: 850px;
  margin: 0 auto;
}
@media (prefers-color-scheme: light) {
  .tags-wrap {
    color: #333;
  }
}
@media (prefers-color-scheme: dark) {
  .tags-wrap {
    color: #cdcdcd;
  }
}
.tags-wrap .tags {
  padding-bottom: 5px;
}
.tags-wrap .tags a {
  font-size: 16px;
  padding-right: 10px;
  line-height: 25px;
}
@media (prefers-color-scheme: light) {
  .tags-wrap .tags a {
    color: #aaa;
  }
}
@media (prefers-color-scheme: dark) {
  .tags-wrap .tags a {
    color: #565656;
  }
}
@media (prefers-color-scheme: light) {
  .tags-wrap .tags a:hover {
    color: #333;
  }
}
@media (prefers-color-scheme: dark) {
  .tags-wrap .tags a:hover {
    color: #cdcdcd;
  }
}
.tags-wrap .one-tag-list .tag-text {
  margin: 20px 0 10px 0;
  font-size: 24px;
}
@media (prefers-color-scheme: light) {
  .tags-wrap .one-tag-list .tag-text {
    color: #333;
  }
}
@media (prefers-color-scheme: dark) {
  .tags-wrap .one-tag-list .tag-text {
    color: #cdcdcd;
  }
}
.tags-wrap .one-tag-list .post-preview {
  line-height: 35px;
}
.tags-wrap .one-tag-list .post-preview .tag-item-date {
  display: block;
  float: left;
}
@media (prefers-color-scheme: light) {
  .tags-wrap .one-tag-list .post-preview .tag-item-date {
    color: #aaa;
  }
}
@media (prefers-color-scheme: dark) {
  .tags-wrap .one-tag-list .post-preview .tag-item-date {
    color: #565656;
  }
}
.tags-wrap .one-tag-list .post-preview .post-title {
  display: inline-block;
  text-indent: 2em;
}
@media (prefers-color-scheme: light) {
  .tags-wrap .one-tag-list .post-preview .post-title {
    color: #333;
  }
}
@media (prefers-color-scheme: dark) {
  .tags-wrap .one-tag-list .post-preview .post-title {
    color: #cdcdcd;
  }
}
.category {
  max-width: 850px;
  margin: 0 auto;
}
.category .signature {
  font-size: 16px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  padding: 40px 0 20px 0;
}
@media (prefers-color-scheme: light) {
  .category .signature {
    color: #aaa;
  }
}
@media (prefers-color-scheme: dark) {
  .category .signature {
    color: #565656;
  }
}
.category h1 {
  padding: 0.5rem 0 1rem 0;
  font-size: 24px;
  font-weight: 400;
  font-size: 30px;
}
.about {
  font-size: 16px;
  margin-top: 30px;
  line-height: 20px;
  font-weight: 200;
}
@media (prefers-color-scheme: light) {
  .about {
    color: #333;
  }
}
@media (prefers-color-scheme: dark) {
  .about {
    color: #cdcdcd;
  }
}
.about img {
  width: 100%;
}
.csl-bib-body .csl-left-margin {
  float: left;
  padding-right: 10px;
}
.csl-bib-body .csl-right-inline {
  text-align: justify;
  margin-bottom: 16px;
  margin-left: 48px;
}
